nav.navighation
    .navigation__wrapper 
    a.navigation__link(href="/")
        | Floema 
        svg.navigation__link__icon 

    ul.navigation__lisk 
        li.navigation__lisk__item 
            a.navigation__list__link(href="/about") About
        li.navigation__lisk__item 
            a.navigation__list__link(href="/collections") Collections
