%title-20 {
  font-size: 2rem;
  font-weight: $font-george-x;
}

%title-30 {
  font-size: 3rem;
  font-weight: $font-george-x;
}

%title-53 {
  font-size: 5.3rem;
  font-family: $font-george-x;
  font-weight: 100;
}

%title-60 {
  font-size: 6rem;
  font-family: $font-george-x;
}

%title-100 {
  font-size: 10rem;
  font-family: $font-george-x;
}

%title-120 {
  font-size: 12rem;
  font-family: $font-george-x;
  line-height: .82;
}

%title-200 {
  font-size: 20rem;
  font-family: $font-george-x;
}

