%cover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%space {
  position: relative;
  margin: 20rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child{
    margin-bottom: 0;
  }
}

@mixin ratio ($height, $width) {
  font-size: 0;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    display: inline-block;
    padding-top: $width / $height * 100;
    width: 100%;
  }
}

