@font-face {
  font-family: $font-george;
  src: url('../fonts/');
  src: url('../fonts/?#iefix') format('embedded-opentype'),
    url('../fonts/george-regular.woff2') format('woff2'),
    url('../fonts/george-regular.woff') format('woff'),
    url('../fonts/george-regular.ttf') format('truetype'),
    url('../fonts/george-regular.svg#george-regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-univers;
  src: url('../fonts/univers.eot');
  src: url('../fonts/univers.eot?#iefix') format('embedded-opentype'),
    url('../fonts/univers.woff2') format('woff2'),
    url('../fonts/univers.woff') format('woff'),
    url('../fonts/univers.ttf') format('truetype'),
    url('../fonts/univers.svg#univers') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-univers;
  src: url('../fonts/univers-light.eot');
  src: url('../fonts/univers-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/univers-light.woff2') format('woff2'),
    url('../fonts/univers-light.woff') format('woff'),
    url('../fonts/univers-light.ttf') format('truetype'),
    url('../fonts/univers-light.svg#univers-light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
