.collections{
  @extend %cover;
  background-color: $color-quicksand;
  color: $color-quarter-spanish-white;
}

.collections__wrapper{
  @extend %cover;
}

.collections__header{
  left: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  transform: translate(-50%,-50%) rotate(-90deg);
  top: 50%;
}

.collections__header__label{
  @extend %description-12;
  line-height: 1.5;
  text-transform: uppercase;
  transform:  rotate(90deg);
  text-align: center;
}

.collections__header__title{
  @extend %title-200;
}

.collections__gallery{

}

.collections__gallery__wrapper{

}

.collections__gallery__link{

}

.collections__gallery__media{

}

.collections__gallery__media__image{

}

.collections__content{

}

.collections__article{

}

.collections__article__title{

}

.collections__article__description{

}
